h1 {
    font-size: 72px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  .wrapper {
    width: 100%;
    background-color: #001821;
    background-image: url(./../images/e1e8a5192d48f6a27b1f7f2d7f96c15d.jpg),
      url(./../images/8ab63ebd5bdf999b88ad70228e5cca81.jpg);
    background-position: top center, bottom center;
    background-repeat: no-repeat;
  }
  
  .tours {
    width: 1140px;
    height: 549px;
    display: block;
    position: relative;
    
  }
  
  .tours__first {
    display: inline-block;
    width: 362px;
    height: 449px;
    background-color: #fff;
  }

  .tours__features {

  }

  .tours__content {
    color: #000;
    margin-top: 33px;
    margin-left: 22px;
    margin-bottom: 21px;
  }

  .day-and-breakfast {
    color: #666;
    display: inline-flex;
    margin-left: 28px;
    margin-right: 62px;
  }

  .day {
    margin-right: 28px;
  }


  .tours__description {
    color: #303030;
    font-size: 14px;
    margin-top: 23.5px;
    margin-left: 22px;
    margin-right: 16px;
    line-height: 21px;
  }

  .calendar {
    width: 26px;
    height: 26px;
  }

  .meal {
    width: 36px;
    height: 26px;
    margin-right: 9px;
  }

  .nights {
    font-size: 16px;
  }

  .breakfast {
    font-size: 16px;
  }

  .tours__button {
    width: 135px;
    height: 55px;
    margin-top: 24.5px;
    margin-left: 24px;
    border-radius: 35px;
    color: #F5170E;
    border: 1px solid #F5170E;
    background-color: #fff;
    text-transform: uppercase;
  }
